name: first pipeline 
run-name: first pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: checkout step
      uses: actions/checkout@v4
    - name: inline script
      run: |
        write-host "i love jesus"
        write-host " I must have a job"
    - name: path base script
      run: |
         script\script.ps1 
              
    

    